*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #18181E;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid black;
  color: white;
  height: 100vh;
  padding:0px 15px;
}
h1,h2{
  margin: 20px;
}
.chercherMot{
  padding: 10px;
  border: 1px solid green;
  width:50%;
  height: 300px;
}
.motTrouve{
  margin: 15px;
}
.img_pendu{
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
  #alphabet{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    font-size: 50px;
    padding: 0px 50px;
  }

  .lettre {
    display: block;
  text-align: center;
  font-size: 30px;
  border: none; 
  outline: none;
  margin: 10px;
   width: 60px;
  height: 60px; 
  /* padding: 60px; */
  cursor: pointer;
  border-radius: 5px;
  background: #ffd17b;
  position: relative;
  box-shadow: 0 6px #efa424;
  }
 /* .lettre:hover {
  box-shadow: 0 4px #efa424;
  top: 2px;
}  */
.lettre:active {
  box-shadow: 0 0 #efa424;
  top: 6px;
}
  
  div{
    text-align: center;  
  }
  .mot_image{
    display: flex;
  }

  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width:50%;
    height: 300px;
  }
  #mot{
    padding: 10px;
    border: 1px solid green;
    /* width:50%; */
    margin: 0 auto;
    font-size: 50px;
    /* height: 300px; */
  } 
